<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Biotec</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonAgregar" class="py-4 mb-4-ligt">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-left">   
                        <button 
                            type="button" 
                            class="btn btn-success btn-block"
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarProducto">
                            <i class="fas fa-plus"></i> [[#{producto.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 Fragmento para agregar producto, es la ventana modal -->
        <section th:fragment="agregarProducto">
            <div id="agregarProducto" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-success text-white"> <!-- Change the background color to green -->
                            <h5 class="modal-title">[[#{producto.agregar}]]</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/producto/guardar}" th:object="${producto}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="codigo">Código producto</label>
                                    <input type="text" class="form-control" name="codigo" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre producto</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="cantidad">Cantidad disponible</label>
                                    <input type="number" class="form-control" name="cantidad" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="archivo">Imagen</label>
                                    <input type="file" class="form-control" name="archivo"/>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="activo" name="activo" value="true" onchange="toggleActivoText(this)">
                                        <label class="form-check-label" for="activo" style="color: black;">Activo</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="submit">Guardar</button> <!-- Change the button color to green -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 PARTE DONDE SE MUESTRA LA TABLA PRODUCTOS -->
        <section th:fragment="listadoProducto" id="productos">
            <div class="card mb-4" style="width: 80%;">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Lista de los productos
                </div>
                <div th:if="${productos != null and !productos.empty}">
                    <div class="card-body">
                        <div class="table-responsive"> <!-- Esto hace la tabla responsive -->
                            <table id="datatablesSimple" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 2%;">No.</th>
                                        <th style="width: 6%;">Código producto</th>
                                        <th style="width: 13%;">Nombre</th>
                                        <th style="width: 5%;">Cantidad</th>
                                        <th style="width: 4%;">Activo</th>
                                        <th style="width: 15%;">Ruta imagen</th>
                                        <th style="width: 5%;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="producto, contador : ${productos}">
                                        <td>[[${contador.count}]]</td>
                                        <td>[[${producto.codigoProducto}]]</td>
                                        <td>[[${producto.nombreProducto}]]</td>
                                        <td>[[${producto.cantidadProducto}]]</td>
                                        <td>[[${producto.activo} ? 'Activa' : 'Inactiva']]</td>
                                        <td>[[${producto.rutaImagen}]]</td>
                                        <td>
                                            <a th:href="@{/producto/eliminar/}+${producto.codigoProducto}" class="btn btn-success">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            <a th:href="@{/producto/modificar/}+${producto.codigoProducto}" class="btn btn-success">
                                                <i class="fas fa-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>        
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                    <span>[[#{lista.vacia}]]</span>
                </div>
            </div>
        </section>
        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarProducto">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/producto/guardar}" 
                          th:object="${producto}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="codigoProducto" th:field="*{codigo}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{producto/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">Nombre producto</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cantidad">Cantidad disponible</label>
                                                    <input type="text" class="form-control" 
                                                           name="cantidad" th:field="*{cantidad}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">Activo</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="imagen">Ruta Imagen</label>
                                                <input class="form-control" type="file" name="imagenFile"
                                                       onchange="readURL(this);" />
                                                <img id="blah" th:src="@{${producto.rutaImagen}}" alt="your image" height="200"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/producto/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/producto/eliminar/}+${producto.codigoProducto}"
                           class="btn btn-success">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
