<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head
        th:replace="~{layout/plantilla :: head}">
        <title>Biotec Inventario</title>

    </head>
    <body>

        <!-- 1 Sección principal para mostrar la informaccion de las productos -->

        <section th:fragment="listadoProductos" id="productos">
            <div class="card mb-4" style="width: 80%;">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Inventario de Productos
                </div>
                <div th:if="${productos != null and !productos.empty}">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatablesSimple" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 2%;">No.</th>
                                        <th style="width: 6%;">Código producto</th>
                                        <th style="width: 13%;">Nombre</th>
                                        <th style="width: 5%;">Cantidad</th>
                                        <th style="width: 5%;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="producto, contador : ${productos}">
                                        <td>[[${contador.count}]]</td>
                                        <td>[[${producto.codigoProducto}]]</td>
                                        <td>[[${producto.nombreProducto}]]</td>
                                        <td>[[${producto.cantidadProducto}]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                    <span>[[#{lista.vacia}]]</span>
                </div>
            </div>
        </section>

        <!-- 2 Sección para la busqueda por codigo -->
        <section th:fragment="busqueda" class="bg-light">
            <form method="POST" th:action="@{/inventario/query1}"
                  class="was-validated d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control"
                           type="number" placeholder="Código del producto..." 
                           aria-label="Código del producto..." aria-describedby="btnNavbarSearch" 
                           th:value="${codigoProducto}"
                           th:name="codigoProducto" required="true"/>
                    <button class="btn btn-success shadow-sm bg-dark-green" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>
        

        <!-- Sección para mostrar el producto encontrado -->

        <section th:fragment="productoEncontrado" th:if="${productoEncontrado != null}" class="bg-light">
            <div class="card mb-4" style="width: 80%;">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Producto Encontrado
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Código producto</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${productoEncontrado.codigoProducto}"></td>
                                    <td th:text="${productoEncontrado.nombreProducto}"></td>
                                    <td th:text="${productoEncontrado.cantidadProducto}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- Sección para mostrar mensaje si el producto no fue encontrado -->
        <section th:fragment="productoNoEncontrado" th:if="${productoEncontrado == null}" class="bg-light">
            <div class="card mb-4" style="width: 80%;">
                <div class="card-header">
                    <i class="fas fa-exclamation-circle me-1"></i>
                    Producto No Encontrado
                </div>
                <div class="card-body">
                    <p>No se encontró ningún producto con el código especificado.</p>
                </div>
            </div>
        </section>



    </body>
</html>
